.font {
  &-primary {
    font-family: $typeface-primary;
  }
  &-secondary {
    font-family: $typeface-secondary;
  }
}

// Heading Tags and Classes

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

@mixin h1 {
  @include rfs(2.488rem); //39.81px
  margin: 0;
}
@mixin h2 {
  @include rfs(2.074rem); //33.18px
  margin: 0;
}
@mixin h3 {
  @include rfs(1.728rem); //27.65px
  margin: 0;
}
@mixin h4 {
  @include rfs(1.44rem); //23.04px
  margin: 0;
}
@mixin h5 {
  @include rfs(1.2rem); //19.20px
  margin: 0;
}
@mixin h6 {
  @include rfs(1rem); //16px
  margin: 0;
}
@mixin des {
  @include rfs(0.833rem); //13.33px
  margin: 0;
}
@mixin small {
  @include rfs(0.694rem); //11.11px
}

h1,
.h1 {
  @include rfs(2.488rem); //39.81px
  margin: 0;
}
h2,
.h2 {
  @include rfs(2.074rem); //33.18px
  margin: 0;
}
h3,
.h3 {
  @include rfs(1.728rem); //27.65px
  margin: 0;
}

h4,
.h4 {
  @include rfs(1.44rem); //23.04px
  margin: 0;
}
h5,
.h5 {
  @include rfs(1.2rem); //19.20px
  margin: 0;
}
h6,
.h6 {
  @include rfs(1rem); //16px
  margin: 0;
}

p,
.des {
  @include rfs(0.875rem); //13.33px
  margin: 0;
}
small,
.small {
  @include rfs(0.7rem); //11.11px
}
