.btn {
  &-gradient {
    &-primary {
      background-image: linear-gradient(to bottom, #625bf7 50%, #463eea 100%);
      border-radius: 0.25rem;
      color: white;
      font-weight: 600;
      font-family: "Poppins";
      letter-spacing: 1px;
    }
  }

  &-form {
    height: 40px;
    width: 150px;
  }
}
